    <%- include('head') -%>
<body>
    <div class="container">
        <h1 class="title">
            <span class="coins">
                <i class="fas fa-coins"></i>
                <i class="fas fa-coins"></i>
                <i class="fas fa-coins"></i>
                <i class="fas fa-coins"></i>
            </span>
            Dividend Tracker
            <span class="money">
                <i class="fas fa-money-bill-wave"></i>
                <i class="fas fa-money-bill-wave"></i>
                <i class="fas fa-money-bill-wave"></i>
                <i class="fas fa-money-bill-wave"></i>
            </span>

        </h1>
        <div class="chart-controls">
                <div class="chart-control-wrapper">
                    <input type="radio" onclick="drawLineChart(getDataForTimespan(3))" name="chart-date" id="chart-date-3m"><label for="chart-date-3m">3M</label>
                    <input type="radio" onclick="drawLineChart(getDataForTimespan(6))" name="chart-date" checked id="chart-date-6m"><label for="chart-date-6m">6M</label>
                    <input type="radio" onclick="drawLineChart(getDataForTimespan(12))" name="chart-date" id="chart-date-1y"><label for="chart-date-1y">1Y</label>
                    <input type="radio" onclick="drawLineChart(getDataForTimespan(100))" name="chart-date" id="chart-date-all"><label for="chart-date-all">All</label>
                </div>
            </div>
        <div id="linechart"></div>

        <div class="top_buttons">
            <form action="/user/logout" method="post" class="logout"><button type="submit"  title="logout"><i class="fas fa-sign-out-alt"></i></button></form>
            <input type="submit" id="add" class="add" value='Add Stock'></input>
            
        </div>
            <% if (messages.error) {%>
                <h3 class="error"> <%= messages.error %></h3>
            <% } %>  
        <form id="add-data" class="add-data" method="post" action="/">
            <i id="close" class="fas fa-times"></i>
            <span  class="stock-data"><span>Ticker Name:</span><input name="stock_name" id="stock_name" type="text" autocomplete="off" required ></span>    
            <span class="stock-data"><span>Quantity:</span><input type="number" step="any" name="stock_quantity" id="stock_quantity" autocomplete="off" required></span>    
            <!-- <span><span>Dividend Date: <input class="date" type="date" name="user_dividend_date">
                <section class="optional">Optional- Index Fund and Mutual Fund Only</section></span></span>     -->
            <input  type="text" id="given_id" style="display:none" name="id" ></input>
            <p id="error"></p>
            <input type="submit" id="submit" class="add">
        </form>
        <div class="main-content">
            <div class="top-column">
                <div class="ticker">Ticker </div>
                <div class="price">Price</div>
                <div class="quantity">Quantity</div>
                <div class="quantity">Yield %</div>
                <div class="yield">Annual<br/> Yield</div>
                <div class="yield">$ Recieved</div>
                <div class="total" title="Expected Annual Dividend">$  Annual</div>
                <span class="space"></span>
            
            </div>
            <div id="stock_list">
                <%let totalSum = 0; %>
                <%let totalCash = 0; %>
                <%let total_dividends_earned = 0; %>
                <%let this_year_dividends_earned = 0; %>

            
                <% for( var i = 0; i < db.length; i++){ %>
                        <div class="inventory">
                            <div class="stock-ticker inv-field stock_name"><%= db[i].name %></div>
                            <div class="stock-price inv-field ">$<%=db[i].price.toFixed(2)%></div>
                            <div class="stock-quantity inv-field"><%= db[i].quantity.toFixed(3).replace(/0{0,2}$/, ""); %></div>
                            <div class="stock-quantity inv-field"><%=  (db[i].yield/parseFloat(db[i].price)*100).toFixed(2) %>%</div>
                            <div class="stock-yield inv-field">$<%= db[i].yield.toFixed(2) || '0.00'%></div>
                            <div class="stock-yield inv-field">$<%=parseFloat(db[i].total_dividends_earned).toFixed(2) || 0%></div>
                            <div class="stock-total inv-field">$<%= db[i].total.toFixed(2) || '0.00' %></div>
                            <input type="checkbox" id="option<%=i%>" style="display:none;">
                            <label  class="action-label" tabindex="<%=i%>"  onblur="setUnchecked(this)" for="option<%=i%>" ><i class="options fas fa-ellipsis-v"></i></i>
                                <span class="controls" tabindex="<%=i%>" onclick="(e)=>e.stopPropagation();" >
                                    <i class="carrot-top fas fa-caret-up"></i>
                                    <button data-id='<%= db[i].id %>' data-name='<%= db[i].name%>' data-quantity='<%= db[i].quantity.toFixed(3).replace(/0{0,2}$/, "")%>'
                                        title="Edit" class="edit" ><i class="fas fa-pen-square"></i> <p>Edit</p></button>
                                    <button data-id='<%= db[i].id %>' title="Delete" class="delete" ><i class="fas fa-trash-alt"></i> <p>Delete</p></button>
                                </span>
                            </label>
                            
                            <%totalSum += db[i].total %>
                            <%totalCash += (parseFloat(db[i].price)*db[i].quantity)%>
                            <%total_dividends_earned += (parseFloat(db[i].total_dividends_earned))%>
                            <%this_year_dividends_earned += (parseFloat(db[i].this_years_dividends))%>
            
                        </div>
                    <% } %>
                    <% console.log('earned:',this_year_dividends_earned) %>
                    <div class="results">
                        <!-- changing this will affect bar graph data -->
                        <h2 class="sum ">Annual Dividend Rate: <span class="dividend_rate"><%= ((totalSum/totalCash*100).toFixed(2) > 0)?(totalSum/totalCash*100).toFixed(2):0 %></span>%</h2>
                        <!-- this_year_dividends_earned -->
                        <h2 class="sum ">Annual Dividend Income:  $<span class="expected_income"><%=parseFloat((totalSum).toFixed(2)) || 0 %></span><div class="bar"><div class="fill" data-fill="<% if(yearly_records &&  yearly_records.total_dividends) { %> <%= ((yearly_records.total_dividends || 0)/parseFloat((totalSum).toFixed(2)) * 100).toFixed(2)  %> <% } else { %> 0 <% } %>  "></div></div></h2> 
                        <h2 class="sum">Dividends Earned:  $<%= total_dividends_earned.toFixed(2) %> </h2>
                    </div>
            </div>
        </div>
        
        <%- include('dividend_calander') -%>

        <div class="cover">
            <div class="delete_confirm">
                <h2>Delete Stock</h2>
                <h3>Are you sure you want to delete <span class="delete_stock_name"></span>?</h3>
                
                <span>
                    <button class="cancel_delete">Cancel</button>
                    <button class="verify_delete">Delete</button>
                </span>
            </div>
        </div>
        <div id="piechart_3d"></div>
        <div class="annual_input compound_calculator">
            <h3>Compound Calculator:</h3>
            <span><label>Enter Monthly Contribution: $ </label><input type="number"  id="contribution" placeholder="0.00"></span>
            <span><label>Estimated Yearly Return: </label><input type="number"  id="returns" placeholder="7%"></span>
            <span>
                Enter Number of Years: <select  id="select_years">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                </select>
            </span>
            
            <button id="calculate">Submit</button>
        </div>
        <div id="bar_graph"></div>
        <div class="footer">
            <!-- Copyright <i class="fas fa-copyright"></i> 2022 Anwar Jahid -->
        </div>
    </div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>